script_key="LbShQGgBmQyCXyuUgaKylKXEqYZbMkdN";
getgenv().script_key = script_key;

getgenv().Intro = {
    ["IntroBlur"] = true,
}
--[[ This is Simple Bind Table, I fully Recommend u To use normal With 100+ Features.

discord.gg/bindlua

--]]
getgenv().Watermark = {
    ["Enable"] = true,
}

getgenv().hojixv = {
    Silent = {
        ["Enabled"] = true, 
        ["Part"] = "HumanoidRootPart", 
        ["UseAirPart"] = false, 
        ["AirPart"] = "Head", 
        ["ClosestPart"] = false, 
        ["CenterPart"] = false,
        ["ClosetPoint"] = false, 
        
        ["WhitelistedParts"] = {"HumanoidRootPart"},

        ["AutoPrediction"] = 1, -- type of math
        ["UseAutoPrediction"] = false,
        ["MultiplyAutoPrediction"] = false,
        ["Multiply"] = 2, -- Multipliers
        
        ["UseAntiCurve"] = false,
        ["AntiCurveValue"] = 1,
        ["UseAxis"] = false,
        ["AxisY"] = 1,
        ["AxisX"] = 1,

        ["AntiGroundShot"] = false,
        ["UseAntiGroundShot"] = false,
        ["AntiGroundShotValue"] = 5, -- Up to 10
        
        ["Prediction"] = 0.1267, 
        ["HitChance"] = 100, 
        ["UseToggleKey"] = true, 
        ["ToggleKey"] = "p", 

        ["UseCustomPrediction"] = true, 
        ["CustomPrediction"] = {
            ["X"] = 0.138, 
            ["Y"] = 0.128, 
            ["Z"] = 0.138
        }, 
        
        ["UseCustomAngles"] = false,
        ["CustomAngle"] = "Pixel",

        ["UseAirShotHitChance"] = false,
        ["AirShotHitChance"] = 100,
    }, 

    SilentFOV = {
        ["Visible"] = true, 
        ["Filled"] = false, 
        ["Radius"] = 300, 
        ["Transparency"] = 1, 
        ["Thickness"] = 1, 
        ["Color"] = Color3.fromRGB(0, 0, 255),
    },

    Type = {
        ["VisibleIfTarget"] = false,
        ["FoVScaleFactors"] = false,
    },

    SilentChecks = {
        ["VisibleCheck"] = false,
        ["CrewCheck"] = false, 
        ["FriendCheck"] = false, 
        ["TeamCheck"] = false, 
        ["VehicleCheck"] = false, 
        ["WallCheck"] = false, 
        ["CheckIf_KO"] = true, 
        ["UsingFactorCheck"] = false,
    }, 

    Scaling = {
        ["UseScaling"] = false,
        ["Transform"] = "PlayerPostion", 
    },

    Properties = {
        ["UseRangeCoefficient"] = false,
        ["RangeCoefficient"] = 1,
        ["PredictClose"] = false,
        ["UseDetection"] = false,
        ["UseCursorHitPart"] = false,
        ["Intervals"] = 0.122,
        ["Precision"] = 2,
    },

    Conditions = {
        ["Formula"] = "S*",
        ["BasePart"] = "", -- HumanoidRootPart
        ["AutoDetection"] = false,
        ["UseAutoDetection"] = true,
        ["ManualDetection"] = 50, 
    },

    Resolver = {
        ["Enabled"] = true,
        ["For"] = "Silent", 
        ["Type"] = "Delta", -- MoveDirection
        ["Threshold"] = 85, 
        ["Tuning"] = 0.2, 

        ["UseCustomResolver"] = false,
        ["CustomResolver"] = false,
        ["ResolverX"] = 0.1,
        ["ResolverY"] = 0.1,
        ["ResolverZ"] = 0.1,
    },

    Safety = {
        ["LegitMode"] = false, -- blatant, legit, semilegit, semiblatant
        ["Override"] = false,
        ["OverrideAxis"] = false,
        ["Y"] = 1,
        ["X"] = 1,
        ["Z"] = 1,

        ["Use3dAngles"] = false,
        ["3dAngles"] = "Angles",
        ["AnglePower"] = 1, -- Power For Angle Basically
        
        ["UsePredictionPoints"] = false,
        ["PredictionPoints"] = 5, -- 
        ["PointAdjustment"] = 0.1,

        ["UseCustomNoGroundShots"] = false,
        ["NoGroundShots"] = false,
        ["AmountOfNoGroundShots"] = 10, -- Max is 10

        ["UseAirPoints"] = false,
        ["AirPoints"] = 1,
    },

    Global = {
        ["UseChecks"] = true,
        ["UseSafeMode"] = false,
        ["FieldOfView"] = "Sticky",
        ["SelfDetection"] = false,
        ["UseGlobalAxis"] = false,
    },

    UnSafe = {
        ["AllowArgs"] = false,
        ["AllowRead"] = true,
        ["AllowHwidExecution"] = false,
        ["AllowChange"] = false,
    },
}

Bruh = {
    ["Key"] = "C",
    ["Part"] = "Head",
    ["PredictionY"] = 0.1255,
    ["PredictionX"] = 0.1255,
    ["Smoothing"] = 1,

    ["AirPart"] = "Head",
    ["UseAirPart"] = false,
    ["BoundAdjustment"] = 2.50,
    ["CheckIfJumped"] = false,
    ["ShakeValue"] = 1,

    ["UseCustomShake"] = false,
    ["ShakeY"] = 0.1,
    ["ShakeX"] = 0.1,
    ["ShakeZ"] = 0.1,

    ["UseEasingStyle"] = false,
    ["EasingStyleOut"] = "Elastic",
    ["EasingStyleIn"] = "Linear",
    ["UniversalY"] = false,
    
    ["AutoPrediction"] = 1, -- type of math
    ["UseAutoPrediction"] = false,
    ["MultiplyAutoPrediction"] = false,
    ["Multiply"] = 2,

    ["UseCustomResolver1"] = false, -- if you don't use this just use normal resolver.
    ["CustomResolver1"] = false,
    ["Resolver1X"] = 0.1,
    ["Resolver1Y"] = 0.1,
    ["Resolver1Z"] = 0.1,
}

CustomShakeAir = {
    ["Enabled"] = false,
    ["AirX"] = 1,
    ["AirZ"] = 1,
    ["AirY"] = 1,
}

Global_Check = {
    ["UseGlobal"] = false,
    ["Ko_Check"] = false,
    ["WallCheck"]= false,
    ["VisibleCheck"] = false,
    ["KillCheck"] = false,
    ["StaticChecks"] = false,
    ["UseDetection"] = false,
    ["VehicleCheck"] = false,
    ["CrewCheck"] = false,
    ["TeamCheck"] = false,
}

Checks = {
    ["hojixvgayassdontwannagetcaught"] = false,
    ["KoCheck"] = false,
    ["ResolverKey"] = "G",
    ["UnlockOnTargetDeath"] = true,
    ["UnlockOnOwnDeath"] = true,
}

Offset_Type = {
    ["X"] = 0.11,
    ["Y"] = 0.11,
    ["Z"] = 0.11,
    ["Landing"] = false,
    ["Jumping"] = false,
}

DynamicSpin = {
    ["Enabled"] = true,
    ["UseMultiple"] = false,
    ["Multiplied"] = 1,
    ["RotationSpeed"] = 2500,
    ["Keybind"] = "M", 
    ["Multiple"] = false,
    ["UseDynamicSpeedSpin"] = false,
    ["DynamicSpeedSpin"] = 0,
    ["math.pi"] = 2,
}

DottedFOV = {
    ["ShowDots"] = false,
    ["Rainbow"] = false,
    ["DotSize"] = 3,
    ["Radius"] = 400,
    ["Color"] = Color3.fromRGB(80, 50, 168),
}

hojixv3 = {
    ["Settings"] = {
        ["cframespeedtoggle"] = true,
        ["KeyBind"] = "x",
        ["speedvalue"] = 1,
        ["DynamicSpeed"] = 1,
        ["UseDynamicSpeed"] = false,
    }
}

BruhImGeeked = { -- // Esp
    ["Esp"] = {
        ["Enabled"] = false, 
        ["UseEspKeybind"] = true, 
        ["UseTransparency"] = false,
        ["EspKey"] = "l", 
        ["HoldMode"] = false, 

        ["Name"] = {
            ["Enabled"] = false, 
            ["OutLine"] = false, 
            ["Color"] = Color3.fromRGB(255, 255, 255)
        }, 

        ["NameTransparency"] = 1,
        ["UseOuter1"] = false,
        ["OuterName"] = 0,
        ["OuterNameTransparency"] = 0,

        ["Box"] = {
            ["Enabled"] = false, 
            ["OutLine"] = false, 
            ["Color"] = Color3.fromRGB(255, 255, 255)
        }, 

        ["BoxTransparency"] = 1,
        ["BoundBox"] = false,
        ["UseBoundBox"] = false,
        ["BoundBoxTransparency"] = 1,

        ["HealthBar"] = {
            ["Enabled"] = false, 
            ["OutLine"] = false, 
            ["Color"] = Color3.fromRGB(0, 255, 0)
        }, 

        ["HealthTransparencyText"] = 1,
        ["HealthText"] = {
            ["Enabled"] = true, 
            ["OutLine"] = false, 
            ["Color"] = Color3.fromRGB(0, 255, 0)
        },

        ["HealthTransparency"] = 1,
        
        ["Distance"] = {
            ["Enabled"] = false, 
            ["OutLine"] = false, 
            ["Color"] = Color3.fromRGB(255, 255, 255)
        }, 

        ["DistanceTransparency"] = 1,
        ["UseOuter2"] = false,
        ["OuterDistance"] = 0,
        ["OuterDistanceTransparency"] = 0,
    }
}

hojixvvv = {
    ["Texture"] = {
        ["Enabled"] = false,
        ["Material"] = Enum.Material.Brick,  -- Assuming Material is an Enum
        ["Color"] = Color3.fromRGB(255, 255, 255),
    }
}

loadstring(game:HttpGet("https://api.luarmor.net/files/v3/loaders/9449eab17b79d158aa90c0e69f640e19.lua"))()
